.navbar {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.netflixLogo {
  width: 10rem;
  height: 5rem;
}
.avatarLogo {
  width: 50px;
  height: 50px;
}

.copertinafilm {
  padding: 10px;
  width: 20rem;
  height: 25rem;
}

.copertinafilm:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
footer a {
  margin: 2rem;
}

footer svg {
  width: 25px;
  height: 25px;
}

.socialIconContainer {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  height: 10vh;
}
